*.pyc
*.log
.hydra/
0_VRDemoSettings.txt
__pycache__/

# Don't ignore important assets
environments/assets/*
!environments/assets/robot/
!environments/assets/meshes/
!environments/assets/google_objects_download.sh
